<footer class="footer">
    <ul class="list list--footer">
        <li class="item item--footer">
            
                <i class="fas fa-credit-card"></i>
                <h2 class="title title--footer">
                    Pagá con tarjeta o enfectivo
                </h2>
                <p class="text text--footer">
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                    ¡Y siempre es seguro!
                </p>
            
        </li>
        <li class="item item--footer">
            
                <i class="fas fa-gift"></i>
                <h2 class="title title--footer">
                    Envío gratis solo desde $1.999
                </h2>
                <p class="text text--footer">
                    Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de mercado puntos.
                </p>
            
        </li>
        <li class="item item--footer">
            
                <i class="fas fa-user-shield"></i>
                <h2 class="title title--footer">
                    Seguridad, de principio a fin
                </h2>
                <p class="text text--footer">
                    ¿No te gusta?¡Devolvelo!En Mercado Liebre no hay nada que no puedas hacer, porque estás siempre protegido
                </p>
            
        </li>
        <li class="item item--footer">
            <p class="text text--footer">Copyright &#169; 1999-2019 MercadoLiebre S.R.L. </p>
        </li>
    </ul>
</footer>